@import url('./shadow-styles.css');

@layer base {
  :host {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--vscode-foreground);
    font-family: var(--vscode-font-family);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

:host {
  --spacing: 0.25rem;
}

@layer base {
  :host {
    -webkit-text-size-adjust: 100%;
  }

  :host input {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
  }
}

svg {
  width: 100%;
  height: 100%;
}
